In [67]:
# Import necessary modules
import json
import numpy as np
import pandas as pd
import mysql.connector

In [68]:
config = {
                "host": "localhost",
                "port": 3306,
                "user": "test",
                "password": "123456",
                "database": "classicmodels"
}

# Save the database configuration to a JSON file
with open ("/Users/hooman/Work Space/Online Store Data Analysis/online_store_data_analysis/notebooks/config.json", "w") as outfile: 
    json.dump(config, outfile)

# Load the database configuration from the JSON file
with open ("/Users/hooman/Work Space/Online Store Data Analysis/online_store_data_analysis/notebooks/config.json","r") as config_file: 
    db_config = json.load(config_file)

In [69]:
conn = mysql.connector.connect( 
  host = db_config['host'], 
  port = db_config['port'], 
  user = db_config['user'], 
  password = db_config['password'], 
  database= db_config['database'] 
)

In [70]:
# Check the connection
if conn.is_connected():
    print("Successfully connected to the database")
else:
    print("Failed to connect to the database")

Successfully connected to the database

In [71]:
# print all Table of Database
name_tables_database = "show tables"
name_of_tabels =pd.read_sql(name_tables_database, conn)
print(name_of_tabels)

  Tables_in_classicmodels
0               customers
1               employees
2                 offices
3            orderdetails
4                  orders
5                payments
6            productlines
7                products

/var/folders/0h/hnl1039x6_349d898wscwzg00000gn/T/ipykernel_27223/3042716431.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  name_of_tabels =pd.read_sql(name_tables_database, conn)

In [72]:
# Define the SQL query to show all tables in the database
name_tables_database = "show tables"

# Execute the SQL query and store the result in a DataFrame
name_of_tabels = pd.read_sql(name_tables_database, conn)

# Print the DataFrame containing the names of all tables in the database
print(name_of_tabels)

  Tables_in_classicmodels
0               customers
1               employees
2                 offices
3            orderdetails
4                  orders
5                payments
6            productlines
7                products

/var/folders/0h/hnl1039x6_349d898wscwzg00000gn/T/ipykernel_27223/2482540655.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  name_of_tabels = pd.read_sql(name_tables_database, conn)

In [73]:
# Iterate over each table name in the DataFrame
for table in name_of_tabels["Tables_in_classicmodels"]:
    # Define the SQL query to select all data from the current table
    query = f"select * from {table}"
    
    # Execute the SQL query and store the result in a DataFrame
    df = pd.read_sql(query, conn)

    # Save the DataFrame to an Excel file with the table name
    df.to_excel(f"/Users/hooman/Work Space/Online Store Data Analysis/online_store_data_analysis/notebooks/Exported Excel Files/{table}.xlsx", index=False)
    
    # Dynamically create a variable with the table name and assign the DataFrame to it
    globals()[table] = df
    
    # Print the name of the current table
    print(f"table Name ==> {table}")

table Name ==> customers
table Name ==> employees
table Name ==> offices

/var/folders/0h/hnl1039x6_349d898wscwzg00000gn/T/ipykernel_27223/3118140908.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

table Name ==> orderdetails
table Name ==> orders
table Name ==> payments
table Name ==> productlines
table Name ==> products